/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*RESET CSS*/

/*REGLES GENERALES*/
@import"../utils/variables";
@import"../utils/mixins";


body
{
	font-family: 'Roboto', sans-serif;
	width: auto;
}

h1
{
	@include h1;
}

h2
{
	@include h2;
}

h3
{
	@include h3;
}

h4{
	@include h4;
}

h5{
	@include h5;
}

h6{
    @include h6;
}

#container
{
    margin: auto;
}

/*HEADER*/
header{
    @include header;
}

#heading-image {
    @include heading-image("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

#heading-image3 {
    @include heading-image ("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg")
}

#heading-image4 {
    @include heading-image ("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg")
}

#heading-image5 {
    @include heading-image ("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg")
}

#main-title{
    @include main-title;
}

#menu{
    @include menu;
}

.heart{
	margin-left: 50px;
	position: relative;
}

.empty-heart{
	color: #000;
	font-size: 24px;
	cursor: pointer;
	position: relative;
	z-index: 2;
	opacity: 1;
	transition: 2s;

	&:hover{
		opacity: 0;
		}
}

.full-heart{
	color: #000;
	font-size: 24px;
	cursor: pointer;
	position: absolute;
	z-index: 3;
	opacity: 0;
	transition: 2s;
	top: 0;
	left: 0;
	width: 0;
	height: 0;

	&:hover{
	opacity: 1;
	}
}

.full-heart i{
	background-image: linear-gradient(to right, $secondary-color, $primary-color);   
	-webkit-background-clip: text;
	-moz-background-clip: text; 
    background-clip: text;
    -webkit-text-stroke: 1px #f6f6f6;
    color: transparent;
	font-size: 24px;
	cursor: pointer;
	z-index: 1;
	position: relative;
	opacity: 0;

		&:hover{
			content:"";
			opacity: 1;
		}
}

.subtitle{
    @include subtitle;
}

.fade-in{
    &--entrees{
    animation: fade_in 1s cubic-bezier(1, 0.46, 1, 1);
    }

    &--plats{
    animation: fade_in 2.5s cubic-bezier(1, 0.46, 1, 1);
    }

    &--desserts{
    animation: fade_in 3.5s cubic-bezier(1, 0.46, 1, 1);
    }
}

@keyframes fade_in {
    0% {
      opacity: 0;
      margin-top: 40px;
    }

    25%{
        opacity:0.2;
        margin-top: 30px;
    }

    50% {
      opacity: 0.5;
      margin-top: 20px;
    }

    75% {
        opacity: 0.7;
        margin-top: 10px;
      }
    
    100% {
      opacity: 1;
      margin-top: 0px;
    }
}

.meal{

    background-color: #fff;
    border-radius: 14px;
    box-shadow: 3px 6.4px 16px #d3d0d3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    padding: 10px 0px 10px 10px;
    height: 50px;
    width: 95%;
    overflow: hidden;

    &:hover .check{
        margin: 0px;
        transition: margin 1s ease-in-out;
        > i{
            animation: spin 1s linear;
        }
    }
}

.meal-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &--title{
        h5{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-bottom: 10px;
        }

        h4{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-bottom: 2px;
            }
    }

    &--price{
        color: black;
        display: flex;
        align-self: flex-end;
        justify-self: baseline;
        margin-right: 35px;
    }
}

.check{
    width: 140px;
    background-color: $tertiary-color;
    height: 70px;
    border-radius: 0px 14px 14px 0px;
    margin-right: -150px;
    transition: margin 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 28px;
}

@keyframes margin {
    from{
        margin-right: -150px;
    }
    to{
        margin-right: 150px;
    }
}

@keyframes spin {
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotateY(0deg);
    }
}

.commande /*bouton commander*/{
    background-color: $grey-background;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.button /*bouton*/
{
    @include button;
    padding: 19px 50px;
}

/*FOOTER*/

footer{
	@include footer;
}

.ustensile{
    @include footer-icone;
}

.hand{
	@include footer-icone;
}

//media queries
@media only screen and (min-width: 840px){
	@include media;
}