/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*RESET CSS*/
/*REGLES GENERALES*/
/*pink-purple gradient button*/
/*fonts*/
body {
  font-family: 'Roboto', sans-serif;
  width: auto;
  background-color: #99E2D0;
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  color: #fff;
  -webkit-animation: fade_out 3s ease-in 0.5s forwards;
          animation: fade_out 3s ease-in 0.5s forwards;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.spinner .loader {
  border-radius: 150px;
  border: 10px solid transparent;
  border-top-color: #fff;
  border-left-color: #fff;
  border-bottom-color: #fff;
  -webkit-animation: horaire 1.5s linear infinite;
          animation: horaire 1.5s linear infinite;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

.spinner .loader:before {
  content: "";
  border-radius: 150px;
  -webkit-animation: horaire 1s linear infinite;
          animation: horaire 1s linear infinite;
  position: absolute;
  height: 100px;
  width: 100px;
  border: 2px solid transparent;
  border-top-color: #fff;
}

.spinner .loader:after {
  content: "";
  border-radius: 150px;
  -webkit-animation: antihoraire 2.5s linear infinite;
          animation: antihoraire 2.5s linear infinite;
  position: absolute;
  height: 50px;
  width: 50px;
  border: 3px solid transparent;
  border-top-color: #fff;
}

.spinner .loader-icone {
  font-size: 50px;
  margin-left: 50px;
}

@-webkit-keyframes horaire {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes horaire {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes antihoraire {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes antihoraire {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-family: 'Shrikhand', cursive;
  color: black;
  font-size: 37px;
}

h2 {
  font-family: 'Shrikhand', cursive;
  color: black;
  font-size: 28px;
}

h3 {
  font-family: 'Roboto';
  color: black;
  font-size: 24px;
  font-weight: 800;
}

h4 {
  font-family: 'Roboto';
  color: black;
  font-size: 16px;
  font-weight: 300;
}

h5 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  color: black;
}

h6 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: white;
}

#container {
  margin: auto;
  -webkit-animation: fade_in 1s 2s ease-in forwards;
          animation: fade_in 1s 2s ease-in forwards;
  opacity: 0;
}

/*HEADER*/
header {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #fff;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*ENCART VILLE*/
#ville {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(0.1%), to(#ebebeb));
  background: linear-gradient(180deg, #000, 0.1%, #ebebeb);
}

#ville i {
  font-size: 19px;
  color: black;
  margin-right: 24px;
}

/*SECTION DECOUVERTE*/
#decouverte {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 290px;
}

.decouverte__title {
  width: 90%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.decouverte__title h4 {
  margin-top: 21px;
}

.button {
  text-decoration: none;
  border-radius: 48px;
  margin-bottom: 16px;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  -webkit-box-shadow: 3px 5px 5px #d3d0d3;
          box-shadow: 3px 5px 5px #d3d0d3;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  padding: 19px 24px;
}

.button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 3px 5px 5px #898189;
          box-shadow: 3px 5px 5px #898189;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

/*FONCTIONNEMENT*/
#fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
  background-color: #fff;
}

#fonctionnement h3 {
  margin: 25px 15px;
}

#fonctionnement h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
  background-color: #9356dc;
  border-radius: 50%;
  margin-left: 1.6px;
  position: absolute;
  z-index: 2;
}

.fonctionnement-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.icone {
  font-size: 16px;
  color: #858585;
  margin: 0px 16px;
}

.icone--purple {
  color: #9356dc;
}

.fonctionnement-info__legende {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  padding: 24px 16px;
  margin: 13px;
  border-radius: 16px;
  -webkit-box-shadow: 3px 6.4px 16px #d3d0d3;
          box-shadow: 3px 6.4px 16px #d3d0d3;
  position: relative;
  z-index: 1;
  background-color: #f6f6f6;
}

.fonctionnement-info__legende--purple {
  background-color: #9256dc2a;
}

/*RESTAURANTS*/
#restaurant {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 50px;
}

#restaurant h3 {
  margin: 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#restaurant a {
  text-decoration: none;
}

.restaurant-card {
  border-radius: 1rem;
  -webkit-box-shadow: 3px 6.4px 16px #d3d0d3;
          box-shadow: 3px 6.4px 16px #d3d0d3;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 310px;
  margin: 10px;
}

.restaurant-card:hover {
  opacity: 0.8;
  -webkit-box-shadow: 3px 5px 5px #898189;
          box-shadow: 3px 5px 5px #898189;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.restaurant-img {
  width: 310px;
  height: 140px;
  border-radius: 14px 14px 0px 0px;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.restaurant-img--note {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.restaurant-img--fr {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.restaurant-img--delice {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  margin: 15px 20px;
}

.legende h4 {
  margin-top: 8px;
}

.heart {
  margin-left: 100px;
  position: relative;
}

.empty-heart {
  color: #000;
  font-size: 24px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.empty-heart:hover {
  opacity: 0;
}

.full-heart {
  color: #000;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  z-index: 3;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.full-heart:hover {
  opacity: 1;
}

.full-heart i {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to right, #ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px #f6f6f6;
  color: transparent;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  opacity: 0;
}

.full-heart i:hover {
  content: "";
  opacity: 1;
}

.new {
  color: black;
  font-size: 14px;
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px 0px 210px;
  position: absolute;
  z-index: 2;
}

/*FOOTER*/
footer {
  background-color: black;
  padding: 20px;
}

footer h1 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}

footer i {
  color: #fff;
  font-size: 10px;
  margin-right: 10px;
}

footer i:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to right, #ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

footer a {
  text-decoration: none;
  margin: 10px;
}

footer h6:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to right, #ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.ustensile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 840px) {
  body {
    background-color: #99E2D0;
  }
  #container {
    width: 800px;
    -webkit-box-shadow: 0px 0px 50px 20px #32b091;
            box-shadow: 0px 0px 50px 20px #32b091;
  }
}
/*# sourceMappingURL=style.css.map */