/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*RESET CSS*/

/*REGLES GENERALES*/
@import"../utils/variables";
@import"../utils/mixins";

body
{
	font-family: 'Roboto', sans-serif;
	width: auto;
}

h1
{
	@include h1;
}

h2
{
	@include h2;
}

h3
{
	@include h3;
}

h4{
	@include h4;
}

h5{
	@include h5;
}

#container
{
    margin: auto;
}

/*HEADER*/
header{
    @include header;
}

#menu{
    @include menu;
}

#heading-image{
    @include heading-image;
    background-image : url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

#main-title{
    @include main-title;
}

.subtitle{
    @include subtitle;
}

.meal{

    background-color: #fff;
    border-radius: 14px;
    box-shadow: 3px 6.4px 16px #d3d0d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    padding: 10px 10px;
    height: 50px;

    h3{
      margin-top: 10px;
      font-size: 14px;
    }

    .price{
	  color: black;
      font-size: 18px;
      display: flex;
      justify-content: flex-start;
      align-self: flex-end

    }
}
.commande{
    background-color: $grey-background;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.button /*bouton*/
{
    @include button;
    padding: 19px 50px;
}

/*FOOTER*/

footer{
	@include footer;
}

.ustensile{
	@include footer-icone;
}

.hand{
	@include footer-icone;
}

//media queries
@media only screen and (min-width: 840px){
	@include media;
}