/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*RESET CSS*/

/*REGLES GENERALES*/

body
{
	font-family: 'Roboto', sans-serif;
	width: auto;
}

h1
{
font-family: 'Shrikhand', cursive;
color: black;
font-size: 2.3rem;
}

h2
{
	font-family: 'Roboto';
	color: black;
	font-size: 1.5rem;
	font-weight: 800;
}

h3
{
	font-family: 'Roboto';
	color: black;
	font-size: 1rem;
	font-weight: 300;
}

h4{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 1rem;
}

h5{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 0.8rem;
	color: #fff;
}

#container
{
    margin: auto;
}

/*HEADER*/
header
{
	height: 4rem;
	display: flex;
	justify-content: center;
	align-content: center;
}

header h1{
    display: flex;
    justify-content: center;
	align-items: center;
}

/*ENCART VILLE*/

#ville i
{
	font-size: 1.2rem;
	color: black;
	margin-right: 1.5rem;
}

#ville
{
	background-color: #ebebeb;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3) inset;
}
/*SECTION DECOUVERTE*/

#decouverte
{
	background-color: #f6f6f6;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 18rem;
}

#baseline /*titre*/
{
	width: 90%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

#baseline h3
{
	margin-top: 1.3rem;
}

.button /*boutton*/
{
	text-decoration: none;
	border-radius: 3rem;
	padding: 1.2rem 1.5rem;
	margin-bottom: 1rem;
	background: -webkit-linear-gradient(top left, #ff79da, #9356dc);
	background: -moz-linear-gradient(bottom right, #ff79da, #9356dc);
	background: linear-gradient(to bottom right, #ff79da, #9356dc );
	box-shadow: 0.2rem 0.3rem 0.3rem #d3d0d3
}

/*FONCTIONNEMENT*/

#fonctionnement
{
	display: flex;
	flex-direction: column;
}

#fonctionnement h2
{
	margin: 2rem 0rem 1rem 1rem;
}

#fonctionnement h5
{
	background-color: #9356dc;
	display: flex;
	align-items: center;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	justify-content: space-around;
	position: absolute;
	z-index: 2;
	margin-left: 0.1rem;
}

#b1 i, #b2 i
{
	font-size: 1rem;
	color: #858585;
	margin: 0rem 1rem;
}

#b3 i
{
	font-size: 1rem;
	color: #9356dc;
	margin: 0rem 1rem;
	
	
}

#b1, #b2, #b3
{
	display: flex;
	align-items: center;
	align-self: center;
}

#legende1, #legende2
{
	background-color: #f6f6f6;
}

#legende3
{
	background-color: #9256dc2a;
}

#legende1, #legende2, #legende3
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 15rem;
	padding: 1.5rem 1rem;
	margin: 0.8rem;
	border-radius: 1rem;
	box-shadow: 0.2rem 0.4rem 1rem #d3d0d3;
	position: relative;
	z-index: 1;
}

/*RESTAURANTS*/

#restaurant
{
	background-color: #f6f6f6;
}

#restaurant h2
{
	margin: 2rem 0rem 1rem 1rem;
}




@media only screen and (min-width: 640px) and (max-width: 1024px)
{
	h1{
		font-size: 3rem;
    }

	h2{
		font-size: 2rem;
    }

    h3{
		font-size: 1.8rem;
    }

    h4{
		font-size: 1.5rem;
    }

    h5{
		font-size: 1.5rem;
	}

	header
	{
		height: 6rem;
	}

	#ville
	{
		padding: 2rem;
	}

	#b1 i, #b2 i, #b3 i
	{
		font-size: 2rem;
		margin: 0rem 2rem;
	}

	#fonctionnement h5
	{
		width: 2.5rem;
		height: 2.5rem;
	}
	
	#legende1, #legende2, #legende3
	{
		width: 25rem;
		padding: 2rem;
	}
	
}

@media only screen and (min-width: 1025px)
{
	header{
	height: 10rem;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	margin-left: 5rem ;
	}

	h1{
		font-size: 3rem;
    }

	h2{
		font-size: 2.5rem;
    }

    h3{
		font-size: 2rem;
    }

    h4{
		font-size: 2rem;
    }

    h5{
		font-size: 2rem;
	}

	#ville
	{
		padding: 2rem;
	}

	#b1 i, #b2 i, #b3 i
	{
		font-size: 3rem;
		margin: 0rem 2rem;
	}

	#fonctionnement h5
	{
		width: 3rem;
		height: 3rem;
		margin-left: -0.5rem;
	}
	
	#legende1, #legende2, #legende3
	{
		width: 30rem;
		padding: 2.5rem;
	}
}