/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*RESET CSS*/
/*REGLES GENERALES*/
/*colors*/
/*fonts*/
/*pink-purple gradient button*/
body {
  font-family: 'Roboto', sans-serif;
  width: auto;
}

h1 {
  font-family: 'Shrikhand', cursive;
  color: black;
  font-size: 37px;
}

h2 {
  font-family: 'Roboto';
  color: black;
  font-size: 24px;
  font-weight: 800;
}

h3 {
  font-family: 'Roboto';
  color: black;
  font-size: 16px;
  font-weight: 300;
}

h4 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  color: black;
}

h5 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  color: white;
}

#container {
  margin: auto;
}

/*HEADER*/
header {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*ENCART VILLE*/
#ville {
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3) inset;
}

#ville i {
  font-size: 19px;
  color: black;
  margin-right: 24px;
}

/*SECTION DECOUVERTE*/
#decouverte {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 288px;
}

.decouverte__title {
  width: 90%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.decouverte__title h3 {
  margin-top: 21px;
}

.button {
  text-decoration: none;
  border-radius: 48px;
  padding: 19px 24px;
  margin-bottom: 16px;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  -webkit-box-shadow: 3px 5px 5px #d3d0d3;
          box-shadow: 3px 5px 5px #d3d0d3;
}

/*FONCTIONNEMENT*/
#fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#fonctionnement h2 {
  margin: 32px 0px 16px 16px;
  width: 100%;
}

#fonctionnement h5 {
  background-color: #9356dc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  z-index: 2;
  margin-left: 1.6px;
}

.fonctionnement-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.icone {
  font-size: 16px;
  color: #858585;
  margin: 0px 16px;
}

.icone--purple {
  color: #9356dc;
}

.fonctionnement-info__legende {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  padding: 24px 16px;
  margin: 13px;
  border-radius: 16px;
  -webkit-box-shadow: 3px 6.4px 16px #d3d0d3;
          box-shadow: 3px 6.4px 16px #d3d0d3;
  position: relative;
  z-index: 1;
  background-color: #f6f6f6;
}

.fonctionnement-info__legende--purple {
  background-color: #9256dc2a;
}

/*RESTAURANTS*/
#restaurant {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#restaurant h2 {
  margin: 40px 0px 25px 16px;
  width: 100%;
}

#restaurant a {
  text-decoration: none;
  border-radius: 1rem;
  -webkit-box-shadow: 3px 6.4px 16px #d3d0d3;
          box-shadow: 3px 6.4px 16px #d3d0d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 310px;
  margin: 10px;
}

#image1, #image2, #image3, #image4 {
  width: 310px;
  height: 140px;
  border-radius: 0.9rem 0.9rem 0rem 0rem;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#image1 {
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

#image2 {
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

#image3 {
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

#image4 {
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  margin: 15px 20px;
}

.legende h3 {
  margin-top: 8px;
}

#heart i {
  color: black;
  font-size: 24px;
}

#palette h5, #note h5 {
  color: black;
  font-size: 14px;
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
  margin: 20px 0px 0px 220px;
}

#delice {
  margin-bottom: 50px;
}

/*FOOTER*/
footer {
  background-color: black;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer h1 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
}

footer i {
  color: #fff;
  font-size: 10px;
}

footer a {
  margin: 5px;
  text-decoration: none;
  width: 100%;
}

.ustensile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ustensile li {
  margin-left: 10px;
}

.hand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hand li {
  margin-left: 10px;
}

/*@media only screen and (min-width: 640px) and (max-width: 1024px)
{
	h1{
		font-size: 48px;
    }

	h2{
		font-size: 32px;
    }

    h3{
		font-size: 29px;
    }

    h4{
		font-size: 24px;
    }

    h5{
		font-size: 24px;
	}

	header
	{
		height: 96px;
	}

	#ville
	{
		padding: 32px;
	}

	#b1 i, #b2 i, #b3 i
	{
		font-size: 32px;
		margin: 0px 32px;
	}

	#fonctionnement h5
	{
		width: 40px;
		height: 40px;
	}
	
	#legende1, #legende2, #legende3
	{
		width: 400px;
		padding: 32px;
	}
	
}

@media only screen and (min-width: 1025px)
{
	header{
	height: 160rem;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	margin-left: 8px ;
	}

	h1{
		font-size: 48px;
    }

	h2{
		font-size: 40px;
    }

    h3{
		font-size: 32px;
    }

    h4{
		font-size: 32px;
    }

    h5{
		font-size: 32px;
	}

	#ville
	{
		padding: 32px;
	}

	#b1 i, #b2 i, #b3 i
	{
		font-size: 48px;
		margin: 0rem 32px;
	}

	#fonctionnement h5
	{
		width: 48px;
		height: 48px;
		margin-left: -8px;
	}
	
	#legende1, #legende2, #legende3
	{
		width: 480px;
		padding: 40px;
	}
}*/
/*# sourceMappingURL=style.css.map */