@mixin loader{
	.loader{
		border-radius: 150px;
		border: 10px solid transparent;
		border-top-color: #fff;
		border-left-color: #fff;
		border-bottom-color: #fff;
		animation: horaire 1.5s linear infinite;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 1;
	}
	
	.loader:before{
		content:"";
		border-radius: 150px;
		animation: horaire 1s linear infinite;
		position: absolute;
		height: 100px;
		width: 100px;
		border: 2px solid transparent;
		border-top-color: #fff;
	}
	
	.loader:after{
		content:"";
		border-radius: 150px;
		animation: antihoraire 2.5s linear infinite;
		position: absolute;
		height: 50px;
		width: 50px;
		border: 3px solid transparent;
		border-top-color: #fff;
	}
	
	.loader-icone{
		font-size: 50px;
		margin-left: 50px;
	}
	  
	@keyframes horaire {
		0%  { 
			transform: rotate(0deg)
		}
		100%{
			transform: rotate(360deg)
		}
	}
	
	@keyframes antihoraire {
		0%  { 
			transform: rotate(360deg);
		}
		100%{
			transform: rotate(0deg);
		}
	}

	@keyframes fade_out{
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0.5;
		  }

		100% {
			opacity: 0;
		  }
	}

	@keyframes fade_in {
		0% {
		  opacity: 0;
		}

		50% {
		  opacity: 0.5;
		}
		
		100% {
		  opacity: 1;
		}
	  }
}

@mixin h1
{
	font-family: 'Shrikhand', cursive;
    color: black;
    font-size: 37px;
}

@mixin h2
{
	font-family: 'Shrikhand', cursive;
    color: black;
    font-size: 28px;
}

@mixin h3
{
	font-family: 'Roboto';
	color: black;
	font-size: 24px;
	font-weight: 800;
}

@mixin h4
{
	font-family: 'Roboto';
	color: black;
	font-size: 16px;
	font-weight: 300;
}

@mixin h5{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 16px;
	color: black;
}

@mixin h6{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 14px;
	color: white;
}

/*pink-purple gradient button*/
@mixin button{
	text-decoration: none;
	border-radius: 48px;
	margin-bottom: 16px;
	background: -webkit-linear-gradient(top left, $secondary-color, $primary-color);
	background: -moz-linear-gradient(bottom right, $secondary-color, $primary-color);
	background: linear-gradient(to bottom right, $secondary-color, $primary-color );
	box-shadow: 3px 5px 5px #d3d0d3;
	transform: scale(1);
	transition: transform 0.8s;
    
    &:hover{
        opacity: 0.8;
		box-shadow: 3px 5px 5px darken($color: #d3d0d3, $amount: 30);
		transform: scale(1.1);
		transition: transform 0.8s;
    }
}

@mixin header //except main header
{
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 25px;
	background-color: #fff;
	
	i{
		font-size: 25px;
		margin-right: 50px;
		color: #000;

		&:hover{
			background-image: linear-gradient(to right, $secondary-color, $primary-color);   
	        -webkit-background-clip: text;
	        -moz-background-clip: text;
		    color: transparent;
		}
	}
}

@mixin heading-image ($image-url){
    height: 250px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url($image-url);
}

@mixin menu{
    background-color: $grey-background;
    border-radius: 35px 35px 0px 0px;
    padding: 25px;
    margin-top: -35px;
}

@mixin main-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        i{
            font-size: 25px;
        }
}

@mixin subtitle{
    display: flex;
    flex-direction: column;
    background-color: $grey-background;
    margin-top: 40px;
    hr{
        width: 11%;
        height: 2px;
        background-color: $tertiary-color;
        border: none;
        margin: 5px 0px;
    }
}

@mixin footer
{
	background-color: black;
	padding: 20px;

	h1{
	    color: #fff;
		font-size: 20px;
		margin-bottom: 15px;
	}

	i{
		color:#fff;
		font-size: 10px;
		margin-right: 10px;

		&:hover{
			background-image: linear-gradient(to right, $secondary-color, $primary-color);   
			-webkit-background-clip: text;
			-moz-background-clip: text; 
			color: transparent;
		}
	}

	a{
		text-decoration: none;
		margin: 10px;
	}

	h6:hover{
		background-image: linear-gradient(to right, $secondary-color, $primary-color);   
	    -webkit-background-clip: text;
	    -moz-background-clip: text; 
		color: transparent;
	}
}

@mixin footer-icone{
	display: flex;
	flex-direction: row;
	align-items: center;
}

@mixin media{
	body{
		background-color: #99E2D0;
	}
	
	#container{
		width: 800px;
		box-shadow: 0px 0px 50px 20px darken($color: $tertiary-color, $amount: 30);;
	}
}