/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*RESET CSS*/
/*REGLES GENERALES*/
/*pink-purple gradient button*/
body {
  font-family: 'Roboto', sans-serif;
  width: auto;
}

h1 {
  font-family: 'Shrikhand', cursive;
  color: black;
  font-size: 37px;
}

h2 {
  font-family: 'Roboto';
  color: black;
  font-size: 24px;
  font-weight: 800;
}

h3 {
  font-family: 'Roboto';
  color: black;
  font-size: 16px;
  font-weight: 300;
}

h4 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  color: black;
}

h5 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: white;
}

#container {
  margin: auto;
}

/*HEADER*/
header {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 25px;
  background-color: #fff;
}

header i {
  font-size: 25px;
  margin-right: 50px;
}

#menu {
  background-color: #f6f6f6;
  border-radius: 35px 35px 0px 0px;
  padding: 25px;
  margin-top: -35px;
}

#heading-image {
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

#main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-title h1 {
  font-size: 28px;
}

#main-title i {
  font-size: 25px;
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  margin-top: 40px;
}

.subtitle hr {
  width: 11%;
  height: 2px;
  background-color: #99e2d0;
  border: none;
  margin: 5px 0px;
}

.meal {
  background-color: #fff;
  border-radius: 14px;
  -webkit-box-shadow: 3px 6.4px 16px #d3d0d3;
          box-shadow: 3px 6.4px 16px #d3d0d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0px;
  padding: 10px 10px;
  height: 50px;
}

.meal h3 {
  margin-top: 10px;
  font-size: 14px;
}

.meal .price {
  color: black;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.commande {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.button {
  text-decoration: none;
  border-radius: 48px;
  margin-bottom: 16px;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  -webkit-box-shadow: 3px 5px 5px #d3d0d3;
          box-shadow: 3px 5px 5px #d3d0d3;
  -webkit-transform: scale(1);
          transform: scale(1);
  padding: 19px 50px;
}

.button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 3px 5px 5px #898189;
          box-shadow: 3px 5px 5px #898189;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

/*FOOTER*/
footer {
  background-color: black;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer h1 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
}

footer i {
  color: #fff;
  font-size: 10px;
}

footer a {
  margin: 5px;
  text-decoration: none;
  width: 100%;
}

.ustensile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ustensile li {
  margin-left: 10px;
}

.hand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hand li {
  margin-left: 10px;
}

@media only screen and (min-width: 840px) {
  body {
    background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
    background: linear-gradient(to bottom right, #ff79da, #9356dc);
  }
  #container {
    width: 600px;
    -webkit-box-shadow: 5px 5px 50px #b8b5b8;
            box-shadow: 5px 5px 50px #b8b5b8;
  }
}
/*# sourceMappingURL=stylep2.css.map */